<div class="button-container">
  <a id="the-button" href="#">PUSH ME</a>

  <div id="idea"></div>
</div>

<hr>

<%= link_to 'Go back home', '/' %>

<hr>

<p>
  Attribution: The kids loved <%= link_to "CPR's button", 'https://www.cpr.org/2020/04/16/colorado-beat-the-cornavirus-stay-at-home-boredom-big-fun-button/' %> and wanted to make their own with their own ideas. Go check out our inspiration!
</p>

<%= javascript_pack_tag 'button' %>
