<% @categories.each do |category| %>
  <div class="card">
    <h5 class="card-header"><%= category.name %></h5>
    <div class="card-body">
      <% category.links.each do |link| %>
        <div class="link-wrapper">
          <h5 class="card-title"><%= link_to_if link.url.present?, link.title, link.url %></h5>
          <p class="card-text"><%= link.description %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<hr>

<p>
  We made a button to push if you want ideas from Oliver and Audrey themselves.
  <%= link_to 'Go push a button!', '/button' %>
</p>
